.logo{
    width: 200px;
    margin: 0 auto;
}

.font-up{
    color: #111111;
}

h4{
    font-weight: bold;
    margin-bottom:20px;
}

.py-5{
    margin-bottom:-10px;
}

.rgba-blue-strong{
    height: 100%;
}

.bold{
    font-weight: bold;
}
    