/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eeeeee;
}

.row{
    margin-bottom: 20px;
}

.butony{
    width:150px;
    height:40px;
    cursor: pointer;
}

.my-drop-zone { 
    border: dotted 3px lightgray; 
    padding: 15px 15px 15px 15px; 
    width: 100%;
    text-align: center;
}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.home{
    background-color: #ffffff;
}

.thead-inverseW{
   // background:  linear-gradient(#31404e, rgba(30, 39, 47, 0.98));
   background-color: #ffffff;
    color: #111111;
}

.cards2{
    padding: 0px 20px;
}

#klepsydra{
    background-color: #111111;
    position: absolute;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    padding-top: 30%;
    text-align: center;
    display: none;
    z-index: 10000;
}

.intro-2 {
    background: url("./assets/homme-seculogo.png")no-repeat center center;
    background-size: cover;
}
.view {
    height: 100vh !important;
}
.top-nav-collapse {
    background: #272729 
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #272729;
    } 

    .img-fluid{
        margin-bottom: 20px;
    }

}
.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
h6 {
    line-height: 1.7;
}

#about{
    margin-bottom: 100px;
}

ul li{
        text-align: left;
    }

.centerDiv{
    width: 800px;
    margin: 0 auto;
}

.text-justife{
    text-align: justify
}

@media (max-width: 740px) {
    p{
        text-align: left;
    }
    .img-fluid{
        margin-bottom: 20px;
    }

    #about{
        margin-bottom: 10px;
    }
    
    .white-text{
        text-align: justify;
    }
    
    ul li{
        text-align: left;
    }
    
    .streak.streak-long-2{
        height: 1900px;
    }
    
    .centerDiv{
        width: 280px;
        margin: 0 auto;
    }
    
    .text-justife{
        text-align: left
    }

}


@media (min-width: 744px){
    #about{
        margin-bottom: 10px;
    }
    
    ul li{
        text-align: left;
    }
    
    .streak.streak-long-2{
        height: 1150px;
    }
    .centerDiv{
        width: 700px;
        margin: 0 auto;
    }
    
    .text-justife{
        text-align: left
    }

}


